/* [project]/src/styles/history/history.module.css [app-client] (css) */
.history-module__FdzjXG__history {
  position: relative;
}

.history-module__FdzjXG__yeaer2015 {
  width: 38vw;
}

.history-module__FdzjXG__yeaer2016 {
  width: 30vw;
}

.history-module__FdzjXG__yeaer2017 {
  width: 30vw;
}

.history-module__FdzjXG__yeaer2018 {
  width: 35vw;
}

.history-module__FdzjXG__yeaer2019 {
  width: 50vw;
}

.history-module__FdzjXG__yeaer2020 {
  width: 48vw;
}

.history-module__FdzjXG__yeaer2021 {
  width: 30vw;
}

.history-module__FdzjXG__yeaer2022 {
  width: 48vw;
}

.history-module__FdzjXG__yeaer2023 {
  width: 55vw;
}

.history-module__FdzjXG__historyArea {
  display: flex;
  align-items: flex-start;
  min-height: 230px;
}

.history-module__FdzjXG__historyArea.history-module__FdzjXG__up {
  border-bottom: 5px solid var(--pointColorBlue);
}

.history-module__FdzjXG__historybox {
  display: flex;
  align-items: flex-start;
  padding-bottom: 4rem;
  padding-left: 2rem;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

.history-module__FdzjXG__historybox .history-module__FdzjXG__maruten {
  border: 5px solid var(--pointColorBlue);
  background-color: #fff;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -13px;
  bottom: -16px;
  z-index: 1;
}

.history-module__FdzjXG__historyArea.history-module__FdzjXG__down .history-module__FdzjXG__historybox .history-module__FdzjXG__maruten {
  bottom: auto;
  top: -16px;
}

.history-module__FdzjXG__historyArea.history-module__FdzjXG__down .history-module__FdzjXG__historybox {
  align-items: flex-end;
  padding-bottom: 0;
  padding-top: 4rem;
}

.history-module__FdzjXG__historybox:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-left: 5px dashed #b9c7dd;
  height: 100%;
}

.history-module__FdzjXG__historybox:before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 17px;
  height: 17px;
  background-color: #b9c7dd;
  border-radius: 50%;
}

.history-module__FdzjXG__historyArea.history-module__FdzjXG__up .history-module__FdzjXG__historybox:after {
  bottom: 0;
  top: auto;
}

.history-module__FdzjXG__historyArea.history-module__FdzjXG__down .history-module__FdzjXG__historybox:after {
}

.history-module__FdzjXG__historyArea.history-module__FdzjXG__down .history-module__FdzjXG__historybox:before {
  top: auto;
  bottom: -5px;
}

.history-module__FdzjXG__yeaer2015 .history-module__FdzjXG__historyArea.history-module__FdzjXG__down {
  margin-left: 12vw;
}

.history-module__FdzjXG__yeaer2019 .history-module__FdzjXG__historyArea.history-module__FdzjXG__up {
  padding-left: 21vw;
}

.history-module__FdzjXG__historybox img {
  max-height: 20vh;
  margin-left: 1rem;
  margin-right: 6rem;
}

.history-module__FdzjXG__yearImg img {
  max-width: 300px;
  width: 16vw;
}

.history-module__FdzjXG__textArea .history-module__FdzjXG__month {
  font-size: var(--fz36);
  font-weight: 600;
  color: var(--pointColorBlue);
}

.history-module__FdzjXG__textArea .history-module__FdzjXG__month span {
  font-size: var(--fz16);
}

.history-module__FdzjXG__textArea .history-module__FdzjXG__text {
  color: #275aa9;
  line-height: 1.2;
}


/* [project]/src/styles/mv.css [app-client] (css) */
.mv {
  min-height: 100vh;
  background: var(--gradeBG);
}


/* [project]/src/styles/progress/progress.css [app-client] (css) */
.progress {
  position: relative;
}


/*# sourceMappingURL=src_styles_9cf413._.css.map*/
