/* [project]/src/styles/number/number.module.css [app-client] (css) */
.number-module__WkvGvG__numyear {
  position: relative;
  z-index: 1;
  color: var(--pointColorBlue);
  margin: 1rem 0;
}

.number-module__WkvGvG__dashboard {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: auto;
}

.number-module__WkvGvG__box {
  border: 1px solid var(--pointColorBlue);
  background-color: #fff;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 5px #0000001a;
}

.number-module__WkvGvG__box .number-module__WkvGvG__subText {
  font-size: var(--fz24);
  color: var(--pointColorBlue);
  font-weight: 600;
}

.number-module__WkvGvG__box .number-module__WkvGvG__smTxt {
  color: var(--pointColorBlue);
}

.number-module__WkvGvG__box .number-module__WkvGvG__anniversary, .number-module__WkvGvG__box .number-module__WkvGvG__profit {
  align-items: center;
}

.number-module__WkvGvG__box h3 {
  position: relative;
  z-index: 1;
  font-size: var(--fz24);
  font-weight: 600;
  color: var(--pointColorBlue);
}

.number-module__WkvGvG__box .number-module__WkvGvG__numberArea .number-module__WkvGvG__highlight {
  font-size: var(--fz80);
  font-weight: 600;
  color: var(--pointColorBlue);
}

.number-module__WkvGvG__box .number-module__WkvGvG__numberArea .number-module__WkvGvG__verticalText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: var(--fz28);
  font-weight: 600;
  color: var(--pointColorBlue);
}

.number-module__WkvGvG__anniversary {
  text-align: center;
}

.number-module__WkvGvG__anniversary .number-module__WkvGvG__numberArea {
  margin-top: 1rem;
}

.number-module__WkvGvG__anniversary .number-module__WkvGvG__numberArea span {
  line-height: 1;
}

.number-module__WkvGvG__anniversaryBox {
  display: inline-block;
  position: relative;
}

.number-module__WkvGvG__anniversaryBox:before {
  content: "";
  position: absolute;
  top: 0;
  left: -65px;
  background: url("/images/section/numberSection/anniversary_deco_left.svg") no-repeat;
  background-size: 100% 100%;
  width: 65px;
  height: 100%;
}

.number-module__WkvGvG__anniversaryBox:after {
  content: "";
  position: absolute;
  top: 0;
  right: -65px;
  background: url("/images/section/numberSection/anniversary_deco_right.svg") no-repeat;
  background-size: 100% 100%;
  width: 65px;
  height: 100%;
}

.number-module__WkvGvG__profit {
  text-align: center;
  position: relative;
  z-index: 2;
}

.number-module__WkvGvG__profit .number-module__WkvGvG__profitIcon {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
}

.number-module__WkvGvG__profit .number-module__WkvGvG__profitIcon img {
  height: 100%;
  width: 100%;
}

.number-module__WkvGvG__revenue {
  position: relative;
  z-index: 2;
}

.number-module__WkvGvG__revenue .number-module__WkvGvG__revenueArea {
  display: flex;
  align-items: stretch;
}

.number-module__WkvGvG__revenue .number-module__WkvGvG__revenueArea > div {
  flex: 1;
}

.number-module__WkvGvG__revenue .number-module__WkvGvG__revenueArea .number-module__WkvGvG__numberArea {
  text-align: center;
  position: relative;
}

.number-module__WkvGvG__revenue .number-module__WkvGvG__revenueIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
}

.number-module__WkvGvG__revenue .number-module__WkvGvG__revenueIcon img {
  height: 100%;
  width: 100%;
}

.number-module__WkvGvG__revenueText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-module__WkvGvG__chartContainer {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 2rem 0;
  box-sizing: border-box;
}

.number-module__WkvGvG__label {
  margin-top: 5px;
  font-size: var(--fz14);
}

.number-module__WkvGvG__users .number-module__WkvGvG__numberArea .number-module__WkvGvG__usersText {
  text-align: right;
}

.number-module__WkvGvG__users .number-module__WkvGvG__numberArea {
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.number-module__WkvGvG__projects {
  position: relative;
  z-index: 2;
}

.number-module__WkvGvG__projects .number-module__WkvGvG__numberArea {
  text-align: center;
}

.number-module__WkvGvG__projects .number-module__WkvGvG__projectsIcon {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-module__WkvGvG__projects .number-module__WkvGvG__projectsIcon img {
  width: 100%;
}

.number-module__WkvGvG__avgAge .number-module__WkvGvG__numberArea {
  height: 200px;
  display: flex;
  justify-content: center;
}

.number-module__WkvGvG__avgAgeChartWrapper {
  width: 180px;
  height: 180px;
  position: relative;
}

.number-module__WkvGvG__employees {
  position: relative;
  z-index: 2;
}

.number-module__WkvGvG__employees .number-module__WkvGvG__numberArea {
  display: flex;
  justify-content: center;
  align-items: center;
  top: min(3rem, 5vw);
  position: relative;
}

.number-module__WkvGvG__employeesIcon img {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-module__WkvGvG__gender {
  position: relative;
  z-index: 2;
}

.number-module__WkvGvG__gender .number-module__WkvGvG__numberArea {
  display: flex;
  justify-content: center;
}

.number-module__WkvGvG__gender .number-module__WkvGvG__genderIcon {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-module__WkvGvG__genderIcon img {
  width: 90%;
}

.number-module__WkvGvG__anniversary, .number-module__WkvGvG__profit {
  grid-column: span 3;
}

.number-module__WkvGvG__revenue {
  grid-column: span 6;
}

.number-module__WkvGvG__users {
  grid-column: span 4;
}

.number-module__WkvGvG__projects {
  grid-column: span 2;
}

.number-module__WkvGvG__employees, .number-module__WkvGvG__avgAge, .number-module__WkvGvG__gender {
  grid-column: span 2;
}

@media screen and (width <= 820px) {
  .number-module__WkvGvG__usersIcon {
    width: 16vw;
  }

  .number-module__WkvGvG__usersIcon img {
    width: 100%;
  }
}

@media screen and (width <= 768px) {
  
}

@media screen and (width <= 640px) {
  .number-module__WkvGvG__box .number-module__WkvGvG__subText {
    font-size: var(--fz20);
  }

  .number-module__WkvGvG__chartContainer {
    width: 90%;
  }

  .number-module__WkvGvG__revenue .number-module__WkvGvG__revenueArea {
    flex-direction: column;
    align-items: center;
  }

  .number-module__WkvGvG__revenue .number-module__WkvGvG__revenueIcon {
    width: 100%;
    height: auto;
  }

  .number-module__WkvGvG__box .number-module__WkvGvG__numberArea .number-module__WkvGvG__highlight {
    font-size: var(--fz64);
  }

  .number-module__WkvGvG__usersIcon {
    position: relative;
  }

  .number-module__WkvGvG__usersIcon img {
    width: 25vw;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
  }

  .number-module__WkvGvG__chartContainer span {
    font-size: var(--fz14);
  }

  .number-module__WkvGvG__users .number-module__WkvGvG__numberArea .number-module__WkvGvG__usersText {
    width: 100%;
    text-align: right;
  }

  .number-module__WkvGvG__anniversary, .number-module__WkvGvG__profit {
    grid-column: span 3;
  }

  .number-module__WkvGvG__revenue {
    grid-column: span 6;
  }

  .number-module__WkvGvG__users {
    grid-column: span 6;
  }

  .number-module__WkvGvG__projects, .number-module__WkvGvG__employees, .number-module__WkvGvG__avgAge, .number-module__WkvGvG__gender {
    grid-column: span 3;
  }

  .number-module__WkvGvG__employees .number-module__WkvGvG__numberArea {
    top: min(8rem, -2vw);
    position: relative;
  }
}

@media screen and (width <= 480px) {
  .number-module__WkvGvG__anniversaryBox:before {
    content: "";
    position: absolute;
    top: 0;
    left: -45px;
    background: url("/images/section/numberSection/anniversary_deco_left.svg") no-repeat;
    background-size: 100% 100%;
    width: 45px;
    height: 100%;
  }

  .number-module__WkvGvG__anniversaryBox:after {
    content: "";
    position: absolute;
    top: 0;
    right: -45px;
    background: url("/images/section/numberSection/anniversary_deco_right.svg") no-repeat;
    background-size: 100% 100%;
    width: 45px;
    height: 100%;
  }

  .number-module__WkvGvG__box .number-module__WkvGvG__subText {
    font-size: var(--fz16);
  }

  .number-module__WkvGvG__box .number-module__WkvGvG__numberArea .number-module__WkvGvG__verticalText {
    font-size: var(--fz12);
  }

  .number-module__WkvGvG__anniversary, .number-module__WkvGvG__profit {
    grid-column: span 6;
  }

  .number-module__WkvGvG__avgAge, .number-module__WkvGvG__gender {
    grid-column: span 6;
  }
}

/*# sourceMappingURL=src_styles_number_number_module_b52d8e.css.map*/