.footer {
  background: var(--gradeBG);
  color: #fff;
}
.footer .footerArticle {
  max-width: 690px;
  width: 90%;
  margin: 5rem auto 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer .footerArticle .footerLinkArea {
  width: calc(100% / 2 - 1rem);
  border: 1px solid #fff;
  padding: 1.5rem;
  box-sizing: border-box;
  transition:
    transform 0.3s ease-in-out,
    background 0.5s ease-in-out,
    backdrop-filter 0.5s ease-in-out;
}


.footerTitleText {
  font-size: var(--fz18);
  font-weight: 500;
}
.footerTitleSubText {
  font-size: var(--fz14);
}
.linkList {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.2rem;
}
.linkList a {
  color: #fff;
}
.linkList a .arrow {
  margin-left: 0.3rem;
  transition: transform 0.4s ease-in-out;
}
.linkList a:hover .arrow {
  transform: rotate(360deg);
}
.footerImageArea {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}
.copyright {
  background-color: #333;
  padding: 1rem;
  box-sizing: border-box;
}
.copyright span {
  display: block;
  text-align: right;
  max-width: 980px;
  margin: 0 auto;
  font-size: var(--fz12);
}
@media screen and (max-width: 640px) {
  .footer .footerArticle .footerLinkArea {
    width: 100%;
  }
}
