.videoarea {
  margin-top: 4rem;
  width: 100%;
}

.videoarea video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  position: relative;
}
.videoarea a {
  position: relative;
  display: block;
}
.videoarea img {
  width: 100%;
  height: auto;
}
.videoarea a .arrowImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100px;
  transition: all 0.4s;
}
.videoarea a:hover .arrowImg {
  max-width: 120px;
}

.youtubeContainer {
  margin-top: 4rem;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.youtubeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
